/* Style the navigation menu */
.topnav {
 overflow: hidden;
 background-color: #CBD2D2;
 position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
 display: none;
}

/* Style navigation menu links */
.topnav a {
 color: #CBD2D2;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 45px;
 display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
 display: block;
 position: absolute;
 right: 0;
 top: 0;
}

.topnav a:hover {
 color: white;
 background-color: #525252;
}

/* Style the active link (or home/logo) */
.active {
 background-color: #3D3D3D;
 color: white;
}

* {
  box-sizing: border-box;
  background-color: #3D3D3D;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 108px;
  color: #3D3D3D;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #CBD2D2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: left;
  font-size: 45px;
  font-weight: 400;
  padding: 0px 0px;
  margin: -40px 0px -40px 40px;
  color: #CBD2D2;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
